<!-- I have used this page from https://codepen.io/kylelavery88/pen/VawWov URL -->

<div class="wrapper">
    <h1>Whoops!</h1>
    <p>It seems that you're lost in a perpetual black hole. Let us help guide you out and get you back home.</p>
    <div class="buttons"><a href="/about">home</a><br/><span>Help me out</span></div>
  </div>
  <div class="space">
    <div class="blackhole"></div>
    <div class="ship"></div>
  </div>
